.color-palette-container {
  padding-top: 30px;
  max-width: 920px;
  margin: auto;

  .color-palette.col-5 {
    padding-top: 30px;
    width: 20%;
    float: left;

    .palette {
      height: 180px;
      width: 160px;
      box-shadow: $colorPaletteShadow;
      border-radius: 2px;
      transition: transform .25s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateY(-15px);
      }

      .color {
        height: 140px;
        width: 40px;
        display: inline-block;
      }

      p.color-label {
        margin: 3px 10px 10px;
        font-size: 16px;
        font-family: 'Proxima Nova Semi Bold';
      }
    }
  }
}