.logo-inspiration-container {
  padding-top: 40px;
  width: 960px;

  .logo-inspirations {

    .logo {
      height: 300px;
      width: 300px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      margin-right: 30px;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 100%;
      }
    }
    div:nth-child(3n) {
      margin-right: 0;
    }
  }
}