@font-face {
  font-family: 'Arimo';
  src: url("../fonts/arimo/arimo-regular-webfont.woff");
  src: url("../fonts/arimo/arimo-regular-webfont.woff2"), url("../fonts/arimo/arimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Catamaran';
  src: url("../fonts/catamaran/catamaran-regular-webfont.woff");
  src: url("../fonts/catamaran/catamaran-regular-webfont.woff2"), url("../fonts/catamaran/catamaran-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/nunito/nunito-regular-webfont.woff");
  src: url("../fonts/nunito/nunito-regular-webfont.woff2"), url("../fonts/nunito/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Palanquin';
  src: url("../fonts/palanquin/palanquin-regular-webfont.woff");
  src: url("../fonts/palanquin/palanquin-regular-webfont.woff2"), url("../fonts/palanquin/palanquin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/raleway-regular-webfont.woff");
  src: url("../fonts/raleway/raleway-regular-webfont.woff2"), url("../fonts/raleway/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.woff");
  src: url("../fonts/roboto/roboto-regular-webfont.woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova/proximanova-regular-webfont.woff");
  src: url("../fonts/proxima-nova/proximanova-regular-webfont.woff2"), url("../fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/proxima-nova/proxima-nova-light-webfont.woff");
  src: url("../fonts/proxima-nova/proxima-nova-light-webfont.woff2"), url("../fonts/proxima-nova/proxima-nova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proxima-nova/proxima-nova-bold-webfont.woff");
  src: url("../fonts/proxima-nova/proxima-nova-bold-webfont.woff2"), url("../fonts/proxima-nova/proxima-nova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semi Bold';
  src: url("../fonts/proxima-nova/proxima-nova-semibold-webfont.woff");
  src: url("../fonts/proxima-nova/proxima-nova-semibold-webfont.woff2"), url("../fonts/proxima-nova/proxima-nova-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Proxima Nova Light"; }

body nav {
  height: 70px;
  width: 100%;
  padding: 15px 40px 15px 40px;
  border: 1px solid #EBEFF0;
  box-shadow: 0 4px 0 0 #F9F9FA; }
  body nav img.logo {
    height: auto;
    width: 40px; }
  body nav .right {
    display: inline-block;
    float: right; }
    body nav .right button.start-over {
      height: 40px;
      width: 137px;
      padding-left: 29px;
      background: transparent url("../images/icons/start-over.png") no-repeat;
      background-size: 13px 14px;
      background-position: 20px 11px;
      border: 1px solid #E3E4E4;
      font-size: 16px;
      font-family: "Proxima Nova Semi Bold";
      color: #2E2E2E;
      border-radius: 2px; }

div.logomator-base {
  padding-bottom: 80px;
  background: #FDFDFD; }
  div.logomator-base div.selection {
    height: 100%;
    width: 100%;
    background: #FDFDFD; }
    div.logomator-base div.selection div.row {
      max-width: 960px;
      margin: auto; }
      div.logomator-base div.selection div.row div.logo {
        position: relative;
        height: 226px;
        width: 300px;
        margin: auto; }
        div.logomator-base div.selection div.row div.logo img {
          position: absolute;
          top: 100px;
          right: 0;
          left: 0;
          margin: auto; }
      div.logomator-base div.selection div.row.no-padding {
        padding-bottom: 0; }

div.selection-progress {
  height: 80px;
  width: 100%;
  box-shadow: 0px -1px 5px 0px rgba(120, 137, 149, 0.25);
  position: fixed;
  bottom: 0;
  background: white; }
  div.selection-progress div.container-fluid {
    padding: 0 55px; }
    div.selection-progress div.container-fluid div.left {
      margin-top: 35px;
      display: inline-block; }
      div.selection-progress div.container-fluid div.left div.progress-bar {
        position: relative;
        display: inline-block;
        height: 10px;
        width: 300px;
        background: #E3E4E4;
        border-radius: 10px; }
        div.selection-progress div.container-fluid div.left div.progress-bar .progress-bar-fill {
          position: absolute;
          height: 10px;
          background: #FF9D54;
          border-radius: 10px; }
      div.selection-progress div.container-fluid div.left p.progress-percentage {
        display: inline-block;
        margin: 0 0 0 30px;
        font-family: "Proxima Nova", sans-serif; }
    div.selection-progress div.container-fluid div.right {
      display: inline-block;
      float: right;
      margin-top: 15px; }
      div.selection-progress div.container-fluid div.right button.logomator-next-step {
        height: 50px;
        width: 179px;
        color: white;
        background: #FF9D54;
        border: 0;
        border-radius: 2px;
        font-family: "Proxima Nova", sans-serif;
        font-size: 18px; }
        div.selection-progress div.container-fluid div.right button.logomator-next-step.disabled {
          opacity: .2; }

.color-palette-container {
  padding-top: 80px;
  max-width: 960px;
  margin: auto; }
  .color-palette-container .orange-line {
    display: block;
    background: #F5530C;
    height: 4px;
    width: 50px; }
  .color-palette-container h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 22px; }
  .color-palette-container h2 {
    margin: 0;
    margin-top: 10px;
    color: #67676F;
    font-size: 16px; }
  .color-palette-container .color-palette.col-5 {
    padding-top: 60px;
    width: 20%;
    float: left; }
    .color-palette-container .color-palette.col-5 .palette {
      height: 180px;
      width: 160px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .color-palette-container .color-palette.col-5 .palette:hover {
        transform: translateY(-15px); }
      .color-palette-container .color-palette.col-5 .palette.selected {
        outline: 1px solid #F5530C; }
      .color-palette-container .color-palette.col-5 .palette .color {
        height: 140px;
        width: 40px;
        display: inline-block; }
        .color-palette-container .color-palette.col-5 .palette .color.blue:nth-child(1) {
          background: #84C4F5; }
        .color-palette-container .color-palette.col-5 .palette .color.blue:nth-child(2) {
          background: #1C87E1; }
        .color-palette-container .color-palette.col-5 .palette .color.blue:nth-child(3) {
          background: #0D5DA0; }
        .color-palette-container .color-palette.col-5 .palette .color.blue:nth-child(4) {
          background: #073E75; }
      .color-palette-container .color-palette.col-5 .palette p.color-label {
        margin: 3px 10px 10px;
        font-size: 16px;
        font-family: 'Proxima Nova Semi Bold'; }
  .color-palette-container .selection-progress .container-fluid .left {
    margin-top: 15px; }
    .color-palette-container .selection-progress .container-fluid .left button {
      height: 50px;
      width: 179px;
      color: white;
      background: #81868F;
      border: 0;
      border-radius: 2px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px; }
  .color-palette-container .selection-progress .container-fluid .right button {
    height: 50px;
    width: 179px;
    color: white;
    background: #F5530C;
    border: 0;
    border-radius: 2px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px; }

.logomator-base.logo-information {
  padding-bottom: 0; }
  .logomator-base.logo-information .selection.container-fluid .row .logomator-form {
    width: 400px;
    margin: auto; }
    .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field {
      text-align: left;
      padding-bottom: 20px;
      position: relative; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field .select-triangle {
        position: absolute;
        top: 40px;
        right: 20px; }
        .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field .select-triangle:after {
          content: '';
          width: 0;
          height: 0;
          display: inline-block;
          border-color: #2E2E2E transparent;
          border-style: solid;
          margin: 0 8px;
          border-width: 6px 6px 0;
          transition: transform 0.25s ease;
          vertical-align: middle; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field label {
        display: block;
        color: #2E2E2E;
        font-size: 16px;
        font-family: "Proxima Nova Semi Bold", sans-serif;
        margin-bottom: 10px; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field select, .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field input {
        height: 40px; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field select, .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field input, .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field textarea {
        background: white;
        width: 100%;
        display: block;
        border: 1px solid #B3B3B3;
        font-family: "Proxima Nova", sans-serif;
        font-size: 16px;
        padding-left: 20px; }
      .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-form-field.no-padding {
        padding-bottom: 0; }
    .logomator-base.logo-information .selection.container-fluid .row .logomator-form .logomator-button {
      height: 50px;
      width: 179px;
      color: white;
      background: #F5530C;
      border: 0;
      border-radius: 2px;
      font-family: "Proxima Nova", sans-serif;
      font-size: 18px;
      height: 54px;
      width: 398px;
      margin-top: 40px; }
