body {

  // Globals fonts
  h1, h2, h3, h4, h5, h6, p, span, input, label {
    font-family: "Proxima Nova";
    font-weight: 300;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  // Buttons
  .logomator-btn {
    height: 40px;
    width: 106px;
    background: $logomatorOrange;
    border: 1px solid $logomatorOrange;
    box-shadow: $logomatorBtnShadow;
    border-radius: 2px;
    font-family: ProximaNova-Semibold, sans-serif;
    font-size: 16px;
    color: white;

    &.generate-logos {
      width: 178px;
      background: $logomatorOrange url('../images/icons/forward.png') no-repeat;
      background-position: 148px 14px;
      background-size: 14px 12px;
      padding-right: 20px;

    }

    &.btn-disabled {
      opacity: .3;
      pointer-events: none;
      cursor: default;
    }
  }

  .back-btn {
    height: 40px;
    width: 100px;
    background: transparent url('../images/icons/back.png') no-repeat;
    background-size: 14px 12px;
    background-position: 20px 12px;
    padding-left: 29px;
    border: 1px solid $border;
    border-radius: 2px;
    font-family: ProximaNova-Semibold;
    font-size: 16px;
    color: $darkBlack;
  }

  // Inputs
  input {
    font-size: 18px;
    color: $black;
    padding-bottom: 9px;
  }

  .logomator-textarea {
    height: 120px;
    width: 600px;
    background: white;
    border: 1px solid $selectBorder;
    border-radius: 2px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    color: $darkBlack;
    padding: 20px 20px 34px 20px;
  }
  
  .show {
    display: block;
  }
  
  .no-show {
    display: none;
  }


  nav {
    height: 70px;
    width: 100%;
    padding: 15px 40px 15px 40px;
    border: 1px solid #EBEFF0;
    box-shadow: $navBoxShadow;


    img.logo {
      height: auto;
      width: 40px;
    }

    .right {
      display: inline-block;
      float: right;

      button.start-over {
        height: 40px;
        width: 137px;
        padding-left: 29px;
        background: transparent url('../images/icons/start-over.png') no-repeat;
        background-size: 13px 14px;
        background-position: 20px 11px;
        border: 1px solid $border;
        font-size: 16px;
        font-family: "Proxima Nova Semi Bold";
        color: $black;
        border-radius: 2px;
      }
    }
  }
}

.bubble-appear {
  height: 80px !important;
  width: 0 !important;
  padding: 0 !important;
  transition: all 350ms ease-in-out;
}

.bubble-appear.bubble-appear-active {
  width: 500px !important;
  padding: 20px !important;
  transition: all 350ms ease-in-out;
}


// Header component fade in.
.header-appear {
  opacity: 0.01;
  transition: opacity 150ms ease-in-out;
  transition-delay: 350ms;
}

.header-appear.header-appear-active {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  transition-delay: 350ms;
}


.content-appear {
  position: relative;
  opacity: 0.01;
  transition: all 350ms ease-in-out;
  transition-delay: 350ms;
  right: -10px;
}

.content-appear.content-appear-active {
  right: 0;
  opacity: 1;
  transition: all 350ms ease-in-out;
  transition-delay: 350ms;
}