.logomator-base.selection {
  .color-palette {
    padding-bottom: 72px;
    background: $light-grey;

    .color-palette-tile {
      height: 226px;
      width: 300px;

      .color {
        height: 75px;

        // Blues
        &.blue:nth-child(1) {
          background: $lightest-blue;
        }
        &.blue:nth-child(2) {
          background: $very-light-blue;
        }
        &.blue:nth-child(3) {
          background: $light-blue;
        }

        &.blue:nth-child(4) {
          background: $light-dark-blue;
        }
        &.blue:nth-child(5) {
          background: $blue;
        }
        &.blue:nth-child(6) {
          background: $darker-blue;
        }

        &.blue:nth-child(7) {
          background: $dark-blue;
        }
        &.blue:nth-child(8) {
          background: $very-dark-blue;
        }
        &.blue:nth-child(9) {
          background: $darkest-blue;
        }

        // Aquas
        &.aqua:nth-child(1) {
          background: $lightest-aqua;
        }
        &.aqua:nth-child(2) {
          background: $very-light-aqua;
        }
        &.aqua:nth-child(3) {
          background: $light-aqua;
        }

        &.aqua:nth-child(4) {
          background: $light-dark-aqua;
        }
        &.aqua:nth-child(5) {
          background: $aqua;
        }
        &.aqua:nth-child(6) {
          background: $darker-aqua;
        }

        &.aqua:nth-child(7) {
          background: $dark-aqua;
        }
        &.aqua:nth-child(8) {
          background: $very-dark-aqua;
        }
        &.aqua:nth-child(9) {
          background: $darkest-aqua;
        }

        // Greens
        &.green:nth-child(1) {
          background: $lightest-green;
        }
        &.green:nth-child(2) {
          background: $very-light-green;
        }
        &.green:nth-child(3) {
          background: $light-green;
        }

        &.green:nth-child(4) {
          background: $light-dark-green;
        }
        &.green:nth-child(5) {
          background: $green;
        }
        &.green:nth-child(6) {
          background: $darker-green;
        }

        &.green:nth-child(7) {
          background: $dark-green;
        }
        &.green:nth-child(8) {
          background: $very-dark-green;
        }
        &.green:nth-child(9) {
          background: $darkest-green;
        }

        // Purples
        &.purple:nth-child(1) {
          background: $lightest-purple;
        }
        &.purple:nth-child(2) {
          background: $very-light-purple;
        }
        &.purple:nth-child(3) {
          background: $light-purple;
        }

        &.purple:nth-child(4) {
          background: $light-dark-purple;
        }
        &.purple:nth-child(5) {
          background: $purple;
        }
        &.purple:nth-child(6) {
          background: $darker-purple;
        }

        &.purple:nth-child(7) {
          background: $dark-purple;
        }
        &.purple:nth-child(8) {
          background: $very-dark-purple;
        }
        &.purple:nth-child(9) {
          background: $darkest-purple;
        }

        // Pinks
        &.pink:nth-child(1) {
          background: $lightest-pink;
        }
        &.pink:nth-child(2) {
          background: $very-light-pink;
        }
        &.pink:nth-child(3) {
          background: $light-pink;
        }

        &.pink:nth-child(4) {
          background: $light-dark-pink;
        }
        &.pink:nth-child(5) {
          background: $pink;
        }
        &.pink:nth-child(6) {
          background: $darker-pink;
        }

        &.pink:nth-child(7) {
          background: $dark-pink;
        }
        &.pink:nth-child(8) {
          background: $very-dark-pink;
        }
        &.pink:nth-child(9) {
          background: $darkest-pink;
        }

        // Reds
        &.red:nth-child(1) {
          background: $lightest-red;
        }
        &.red:nth-child(2) {
          background: $very-light-red;
        }
        &.red:nth-child(3) {
          background: $light-red;
        }

        &.red:nth-child(4) {
          background: $light-dark-red;
        }
        &.red:nth-child(5) {
          background: $red;
        }
        &.red:nth-child(6) {
          background: $darker-red;
        }

        &.red:nth-child(7) {
          background: $dark-red;
        }
        &.red:nth-child(8) {
          background: $very-dark-red;
        }
        &.red:nth-child(9) {
          background: $darkest-red;
        }

        // Oranges
        &.orange:nth-child(1) {
          background: $lightest-orange;
        }
        &.orange:nth-child(2) {
          background: $very-light-orange;
        }
        &.orange:nth-child(3) {
          background: $light-orange;
        }

        &.orange:nth-child(4) {
          background: $light-dark-orange;
        }
        &.orange:nth-child(5) {
          background: $orange;
        }
        &.orange:nth-child(6) {
          background: $darker-orange;
        }

        &.orange:nth-child(7) {
          background: $dark-orange;
        }
        &.orange:nth-child(8) {
          background: $very-dark-orange;
        }
        &.orange:nth-child(9) {
          background: $darkest-orange;
        }

        // Yellows
        &.yellow:nth-child(1) {
          background: $lightest-yellow;
        }
        &.yellow:nth-child(2) {
          background: $very-light-yellow;
        }
        &.yellow:nth-child(3) {
          background: $light-yellow;
        }

        &.yellow:nth-child(4) {
          background: $light-dark-yellow;
        }
        &.yellow:nth-child(5) {
          background: $yellow;
        }
        &.yellow:nth-child(6) {
          background: $darker-yellow;
        }

        &.yellow:nth-child(7) {
          background: $dark-yellow;
        }
        &.yellow:nth-child(8) {
          background: $very-dark-yellow;
        }
        &.yellow:nth-child(9) {
          background: $darkest-yellow;
        }

        // Browns
        &.brown:nth-child(1) {
          background: $lightest-brown;
        }
        &.brown:nth-child(2) {
          background: $very-light-brown;
        }
        &.brown:nth-child(3) {
          background: $light-brown;
        }

        &.brown:nth-child(4) {
          background: $light-dark-brown;
        }
        &.brown:nth-child(5) {
          background: $brown;
        }
        &.brown:nth-child(6) {
          background: $darker-brown;
        }

        &.brown:nth-child(7) {
          background: $dark-brown;
        }
        &.brown:nth-child(8) {
          background: $very-dark-brown;
        }
        &.brown:nth-child(9) {
          background: $darkest-brown;
        }

        // Light neutrals
        &.light-neutral:nth-child(1) {
          background: $lightest-light-neutral;
        }
        &.light-neutral:nth-child(2) {
          background: $very-light-light-neutral;
        }
        &.light-neutral:nth-child(3) {
          background: $light-light-neutral;
        }

        &.light-neutral:nth-child(4) {
          background: $light-dark-light-neutral;
        }
        &.light-neutral:nth-child(5) {
          background: $light-neutral;
        }
        &.light-neutral:nth-child(6) {
          background: $darker-light-neutral;
        }

        &.light-neutral:nth-child(7) {
          background: $dark-light-neutral;
        }
        &.light-neutral:nth-child(8) {
          background: $very-dark-light-neutral;
        }
        &.light-neutral:nth-child(9) {
          background: $darkest-light-neutral;
        }

        // Dark neutrals
        &.dark-neutral:nth-child(1) {
          background: $lightest-dark-neutral;
        }
        &.dark-neutral:nth-child(2) {
          background: $very-light-dark-neutral;
        }
        &.dark-neutral:nth-child(3) {
          background: $light-dark-neutral;
        }

        &.dark-neutral:nth-child(4) {
          background: $light-dark-dark-neutral;
        }
        &.dark-neutral:nth-child(5) {
          background: $dark-neutral;
        }
        &.dark-neutral:nth-child(6) {
          background: $darker-dark-neutral;
        }

        &.dark-neutral:nth-child(7) {
          background: $dark-dark-neutral;
        }
        &.dark-neutral:nth-child(8) {
          background: $very-dark-dark-neutral;
        }
        &.dark-neutral:nth-child(9) {
          background: $darkest-dark-neutral;
        }
      }
    }

    span.color-name {
      display: block;
      margin-top: 11px;
      font-family: "Proxima Nova Semi Bold";
      color: $black;
      font-size: 18px;
    }
  }

  .selection-progress {
    .container-fluid {
      .left {
        margin-top: 15px;

        button {
          @include logomator-button($very-dark-grey);
        }
      }

      .right {
        button {
          @include logomator-button($logomator-orange);
        }
      }
    }
  }
}