.color-palette-container {
  padding-top: 80px;
  max-width: 960px;
  margin: auto;

  .orange-line {
    display: block;
    background: $logomatorOrange;
    height: 4px;
    width: 50px;
  }

  h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 22px;
  }

  h2 {
    margin: 0;
    margin-top: 10px;
    color: $darkGrey;
    font-size: 16px;
  }

  .color-palette.col-5 {
    padding-top: 60px;
    width: 20%;
    float: left;

    .palette {
      height: 180px;
      width: 160px;
      box-shadow: $colorPaletteShadow;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateY(-15px);
      }

      &.selected {
        outline: 1px solid $logomatorOrange;
      }

      .color {
        height: 140px;
        width: 40px;
        display: inline-block;

        &.blue:nth-child(1) {
          background: $lightBlue;
        }

        &.blue:nth-child(2) {
          background: $blue;
        }

        &.blue:nth-child(3) {
          background: $darkBlue;
        }

        &.blue:nth-child(4) {
          background: $darkestBlue;
        }
      }

      p.color-label {
        margin: 3px 10px 10px;
        font-size: 16px;
        font-family: 'Proxima Nova Semi Bold';
      }
    }
  }

  .selection-progress {
    .container-fluid {
      .left {
        margin-top: 15px;

        button {
          @include logomator-button($very-dark-grey);
        }
      }

      .right {
        button {
          @include logomator-button($logomatorOrange);
        }
      }
    }
  }
}