.container {
  max-width: 960px;
  padding-top: 80px;

  h1, h2 {
    margin: 0;
  }

  h1 {
    color: $black;
    padding-bottom: 11px;
  }

  h2 {
    font-family: 'Proxima Nova Light', sans-serif;
    color: $darkGrey;
  }

  .logomator-form {
    padding-top: 60px;

    .orange-bar {
      display: block;
      background: $logomatorOrange;
      height: 4px;
      width: 50px;
    }

    form {
      padding-top: 20px;
      max-width: 600px;
      width: 100%;

      label {
        display: block;
        color: $darkBlack;
        font-size: 22px;
        margin-bottom: 19px;
      }
      
      input {
        display: block;
        border: none;
        border-bottom: 1px solid $logomatorOrange;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      span.bottom-label {
        display: block;
        font-family: 'Proxima Nova Light', sans-serif;
        font-size: 16px;
        color: $darkGrey;
        text-align: left;
        margin-top: 10px;
      }

      button.logomator-btn {
        margin-top: 30px;
        float: right;
      }
    }
  }
}