body {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova Light";
  }
  nav {
    height: 70px;
    width: 100%;
    //border-bottom: 1px solid $border;
    padding: 15px 40px 15px 40px;
    border: 1px solid #EBEFF0;
    box-shadow: $navBoxShadow;


    img.logo {
      height: auto;
      width: 40px;
    }

    .right {
      display: inline-block;
      float: right;

      button.start-over {
        height: 40px;
        width: 137px;
        padding-left: 29px;
        background: transparent url('../images/icons/start-over.png') no-repeat;
        background-size: 13px 14px;
        background-position: 20px 11px;
        border: 1px solid $border;
        font-size: 16px;
        font-family: "Proxima Nova Semi Bold";
        color: $black;
        border-radius: 2px;
      }
    }
  }
}